@tailwind base;
@tailsind components;
@tailwind utilities;

/* Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.bgLanding {
  background-image: url('/landingPageBG.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tiltedUnderline {
  @apply after:content-[''] after:border-t-2 after:border-t-black after:w-14 after:block after:relative after:transform after:-rotate-3 after:left-1/2 after:-translate-x-1/2;
  @apply hover:after:border-white;
}
