@tailwind base;
@tailsind components;
@tailwind utilities;

.bgLanding {
  background-image: url('/landingPageBG.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}